@import "tailwindcss";

@theme {
  --color-primary: #33524f;
  --color-secondary:#b09638;
  --color-tertiary : #a6a5a4;
  --color-error: #9d0208;
  --color-warning: #faa307;
  --color-success: #38b000;
  --color-bg: #ffffff;
  --color-txt: #1a1a1a;
}