@import "tailwindcss";

@theme {
  --color-primary: #3B5552;
  --color-secondary: #C49F32;
  --color-tertiary: #a6a5a4;
  --color-error: #9d0208;
  --color-warning: #faa307;
  --color-success: #38b000;
  --color-bg-primary: #E3EDEC;
  --color-bg-secondary: #FFFEFF;
  --color-txt-primary: #1a1a1a;
  --color-txt-secondary: #FFFFFF;
  --shadow-custom: 6px 6px rgba(196, 159, 50, 0.6); 
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}